@import "tailwindcss";



:root {
  --bg: #0E1319;
  --background: var(--bg);
  --foreground: #ffffff;
  --color-primary: #3AF5C4;
  --color-secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0E1319;
    --background: var(--bg);
    --foreground: #ffffff;
    --color-primary: #3AF5C4;
    --color-secondary: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
