@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-red-500: #e11d48; /* Example: Tailwind rose-600 */
  --color-secondary: #0B1116; /* Example: dark blue/gray */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-red-500: #fb7185; /* Lighter rose for dark mode */
    --color-secondary: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
